.container {
  border: 1px solid #000;
  border-radius: 10px;
  margin: 5rem auto;
  padding: 20px;
  width: 400px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.screen {
  border: 1px solid #000;
  border-radius: 5px;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 5px;
  overflow: auto;
}

.screen::-webkit-scrollbar {
  display: none;
}

#screen {
  font-size: 3rem;
}

#screen::after {
  content: '';
  height: 100%;
  border: 1px solid #000;
  animation: blink 1s steps(2, jump-start) infinite;
}

.buttons {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  width: 20%;
  margin: 5px;
  cursor: pointer;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}