html, body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

header {
  border: 1px solid #000;
  border-radius: 10px;
  max-width: 50rem;
  min-width: 360px;
  height: 5vh;
  margin: 3rem auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 2rem;
  gap: 20px;
}

#add {
  max-width: 80px;
  min-width: 70px;
  height: 5vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3e3eed;
  color: #fff;
  font-weight: 600;
  transition: background-color .5s ease;
}

#add:hover {
  background-color: #1818ba;
}

#add:active {
  background-color: #b0b0d7;
}

#delete {
  max-width: 80px;
  min-width: 70px;
  height: 5vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ed3e3e;
  color: #fff;
  font-weight: 600;
  transition: background-color .5s ease;
}

#delete:hover {
  background-color: #961212;
}

#toggle {
  display: none;
}

#toggle-container {
  border: 1px solid #000;
  border-radius: 25px;
  width: 40px;
  height: 2vh;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.switch {
  background-color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: all .5s ease;
  position: absolute;
  left: -1px;
}

#toggle:checked ~ .switch {
  transform: translateX(110%);
}

.container {
  border: 1px solid #000;
  border-radius: 5px;
  max-width: 700px;
  min-width: 500px;
  height: 65vh;
  margin: 0 auto;
  padding: 10px;
}

label {
  display: flex;
  gap: 10px;
}

.pop-up {
  border: 1px solid #000;
  border-radius: 5px;
  width: 300px;
  height: 40vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fff;
  padding: 10px;
  transition: opacity .5s ease;
  opacity: 0;
  pointer-events: none;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0000008f;
  backdrop-filter: blur(2px);
  transition: opacity .5s ease;
  opacity: 0;
  pointer-events: none;
}